body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;    
}
section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg);  
    background-attachment: fixed;  
    background-size: cover;
    height: 100vh;
}
section .box
{
    position: relative;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    color: #000;
}
section .box:before
{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: url(bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    filter: blur(10px);
}
section .box h2
{
    position: relative;
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    z-index: 2;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}
section .box p
{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    z-index: 2;
    color: #fff;
}