*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: 100%;
}
.container{
    width: 700px;
    margin: auto;
    margin-top: 30vh;
    color: white;
    
}
.container .title{
    opacity: 0;
    font-size: 1px;
}
.container .para{
    opacity: 0;
    font-size: 1px;
}